// Variables
// ------------------------------------------------------------------------------------------------------------------------------------------ 

// Colours

$text-grey: 		#333333;


// Settings

$borderradius: 		5px;


// Placeholders

%sans-serif {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: $text-grey;
	}


// Mixins


/* Typography
------------------------------------------------------------------------------------------------------------------------------------------ */

body {
	 @extend %sans-serif;
	 -webkit-font-smoothing: antialiased;
	}


a {
	@include transition (all 150ms ease-in-out);
	text-decoration: none;
	}


/* Layout
------------------------------------------------------------------------------------------------------------------------------------------ */






/* Useful Classes
------------------------------------------------------------------------------------------------------------------------------------------ */


.left {
	float: left;
	}

.right {
	float: right;
	}

/* CLEARFIX */

.group:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }


